<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Cadastro de Produtos0</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="lista">Inicio</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="cadastrar">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="teste">teste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">disabled</a>
        </li>
      </ul>

    <div class="container">

        {% block conteudo %} {% endblock %}

    </div>

</body>
</html>

